#img-bg
{
    background-image: url('https://i.pinimg.com/originals/c7/88/ec/c788ec83b277a8aeac67b002fe7202e4.gif');

    min-height: 1000px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}